<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Garages</title>
</head>
<style>
    .data {
        width: 150px;
        text-align: center;
    }
</style>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        watchBtns();
    })

    const watchBtns = () => {
        document.querySelectorAll(".add-garage-btn")
            .forEach(btn => {
                btn.addEventListener("click", () => {
                    document.location.replace("/garage/addForm")
                })
            })
        document.querySelectorAll(".add-car-btn")
            .forEach(btn => {
                btn.addEventListener("click", ev => {
                    document.location.replace(`/car/addForm?garageId=${ev.target.dataset.id}`);
                })
            })
    }
</script>
<body>
<h3>List of garages:</h3>

<table>
    <thead>
    <tr>
        <th>No.</th>
        <th>Capacity:</th>
        <th>Lpg allowed:</th>
        <th>Place width:</th>
        <th>Location address[name, city]:</th>
        <th>Most fuel:</th>
        <th>Most expensive car[brand,price]:</th>
        <th>Average car price:</th>
        <th>Garage fill[%]:</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="garage, counter : ${garages}">
        <td class="data" th:text="${counter.count + '.'}"></td>
        <td class="data" th:text="${garage.capacity}"></td>
        <td class="data" th:text="${garage.isLpgAllowed? 'Yes' : 'No'}"></td>
        <td class="data" th:text="${garage.placeWidth}"></td>
        <td class="data" th:text="${garage.garageName + ', ' + garage.garageCity}"></td>
        <td class="data" th:text="${'eee'}"></td>
        <td class="data" th:text="${mostExpensive == null ? 'null' : mostExpensive.brand + ' ' + mostExpensive.price}"></td>
        <td class="data" th:text="${averagePrice}"></td>
        <td class="data" th:text="${garage.carsAmount == 0 ?
         0 + '%' : (garage.carsAmount / garage.capacity) * 100 + '%'}"></td>
        <td class="data">
            <button class="add-car-btn" th:data-id="${garage.id}">ADD CAR</button>
        </td>
    </tr>
    </tbody>
</table>
<br><br>

<button class="add-garage-btn">ADD GARAGE</button>
</body>
</html>