<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>car-park-app</title>
</head>
<body>
<h3>Welcome to car park management app</h3><br><br>

<ul>
    <li><a href="/garages">GARAGES</a></li>
    <li><a href="/cars">CARS</a></li>
    <li><a href="/fuels">FUELS</a></li>
</ul>

</body>
</html>